@model SFServer.UI.Models.ServerSettingsViewModel
@{
    ViewData["Title"] = "Server Settings";
}

<h1>Server Settings</h1>

<form asp-action="Update" method="post" class="mt-4">
    <h5>S3 Configuration</h5>
    <div class="mb-3">
        <label class="form-label" for="Url">Custom URL</label>
        <input class="form-control" id="Url" name="Settings.Url" value="@Model.Settings.Url" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="Bucket">Bucket</label>
        <input class="form-control" id="Bucket" name="Settings.Bucket" value="@Model.Settings.Bucket" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="AccessKeyId">Access Key ID</label>
        <input class="form-control" id="AccessKeyId" name="Settings.AccessKeyId" value="@Model.Settings.AccessKeyId" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="SecretAccessKey">Secret Access Key</label>
        <input type="password" class="form-control" id="SecretAccessKey" name="Settings.SecretAccessKey" value="@Model.Settings.SecretAccessKey" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="Region">Region</label>
        <input class="form-control" id="Region" name="Settings.Region" value="@Model.Settings.Region" />
    </div>
    <h5 class="mt-4">Google OAuth</h5>
    <div class="mb-3">
        <label class="form-label" for="GoogleClientId">Client ID</label>
        <input class="form-control" id="GoogleClientId" name="Settings.GoogleClientId" value="@Model.Settings.GoogleClientId" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="GoogleClientSecret">Client Secret</label>
        <input type="password" class="form-control" id="GoogleClientSecret" name="Settings.GoogleClientSecret" value="@Model.Settings.GoogleClientSecret" />
    </div>
    <button class="btn btn-primary" type="submit">Save Settings</button>
</form>
